*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to bottom, rgb(96, 48, 151), rgb(217, 230, 37));
    background-size: cover;
    background-repeat: repeat;
}
h1{
    margin: 0.65vw;
    padding: 0.65vw;
    text-align: center;
    font-size: 2.5vw;
    font-weight: 600;
}

/* Left Div (Code Area) */
.left-div{
    width: 40vw;
    float: left;
    color: white;
}
.left-div pre{
    font-size: 1.3vw;
    background-color: transparent;
    border: none;
    color: white;
}

/* Right Div (Algo Area) */
.right-div{
    padding-top: 5px;
    width: 100%;
    color: white;
}
.right-div pre{
    font-size: 1.1vw;
    background-color: transparent;
    border: none;
    color: white;
}

input{
    width: 5vw;
}
/* Pointer */
.shift-pointer{
    width: 100%;
    font-size: 2vw;
    font-weight: 600;
    border: none;
}

/* Nodes */
.visualizer{
    float: right;
    margin-right: 0.65px;
    width: 59%;
    height: 300px;
    color: white;
}
.btn{
    background: linear-gradient(to bottom, rgb(139, 101, 35), rgb(188, 127, 22));
    font-size: 1vw;
    font-weight: 600;
    float: left;
    border-radius: 2.5vw;
    padding: 0.65vw;
    margin-left: 17vw;
}
.show{
    margin-bottom: 10vw;
}
.val{
    border: 0.25vw solid yellow;
    padding: 0.65vw 0.9vw 0 0.9vw;
    float: left;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}
.addr{
    border: 0.25vw solid yellow;
    padding: 0.65vw 0.65vw 0 0.65vw;
    float: left;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
}
#value1,
#value2,
#value3,
#value4,
#value5{
    text-align: center;
    font-size: 1.3vw;
    font-weight: bolder;
    /* color: aqua; */
}
#address1,
#address2,
#address3,
#address4,
#address5,
#address6{
    text-align: center;
    font-size: 1.3vw;
    font-weight: bolder;
    color: aqua;
}
.ptr1,
.ptr2,
.ptr3,
.ptr4,
.ptr5{
    float: left;
    font-weight: bolder;
    font-size: 2.5vw;
    margin-left: 0.65vw;
    margin-right: 0.65vw;
}
.animation{
    color: red;
    height: 50px;
}
#tempvar{
    display: none;
    font-weight: bolder;
    float: left;
}
#prevvar{
    display: none;
    font-weight: bolder;
    float: left;
}
