Delete-A-Number-From-Linked-List
This project is basically a visualizer project to show how code for delete a number from Linked List works. This project is made by HTML, CSS, JAVASCRIPT and very minor BOOTSTRAP.
*{
    margin: 0;
    padding: 0;
}

body{
    height: 730px;
    background: linear-gradient(to bottom, rgb(192, 178, 209), rgb(115, 118, 75));
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    margin: 10px 10px 10px 10px;
    padding: 10px;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
}

/* Left Div (Code Area) */
.left-div{
    width: 40%;
    float: left;
    color: white;
}
.left-div pre{
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: white;
}

/* Right Div (Algo Area) */
.right-div{
    padding-top: 5px;
    width: 100%;
    color: white;
}
.right-div pre{
    font-size: 17px;
    background-color: transparent;
    border: none;
    color: white;
}

input{
    width: 100px;
}
/* Pointer */
.shift-pointer{
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    border: none;
}

/* Nodes */
.visualizer{
    float: right;
    margin-right: 10px;
    width: 59%;
    height: 300px;
    color: white;
}
.btn{
    background: linear-gradient(to bottom, rgb(139, 101, 35), rgb(188, 127, 22));
    font-size: 12px;
    font-weight: 600;
    float: left;
    border-radius: 50px;
    padding: 10px;
    margin-left: 270px;
}
.show{
    margin-bottom: 100px;
}
.val{
    border: 4px solid yellow;
    padding: 10px 15px 0 15px;
    float: left;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}
.addr{
    border: 4px solid yellow;
    padding: 10px 10px 0 10px;
    float: left;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
}
#value1,
#value2,
#value3,
#value4,
#value5{
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    /* color: aqua; */
}
#address1,
#address2,
#address3,
#address4,
#address5,
#address6{
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    color: aqua;
}
.ptr1,
.ptr2,
.ptr3,
.ptr4,
.ptr5{
    float: left;
    font-weight: bolder;
    font-size: 35px;
    margin-left: 10px;
    margin-right: 10px;
}
.animation{
    color: red;
    height: 50px;
}
#tempvar{
    display: none;
    font-weight: bolder;
    float: left;
}
#prevvar{
    display: none;
    font-weight: bolder;
    float: left;
}